// ----------------------------------------------------------------------------
// Home page specific styles, variables, placeholders, mixins and functions
// @see components/page/Home.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Make page full width
.adp-home
  +size(100vw, auto)

// Center header contents on opposite sites of the header
// Make inner container the height of the content
// Decrease size of logo image
.ado-header,
.ado-footer
  > .ada-container
    +flex(row, center, space-between)

    height: max-content

    .smooth-scroll-btn
      padding: 0

      > .ada-image
        +constrain(60%)

// Position header absolutely
// Position header on top of the other content
.ado-header
  +absolute(0, null, null, 0)

  z-index: 10

  &.ui-sticky
    background-color: $light
    border-bottom: $border
    position: fixed

    > .ada-container
      // border-bottom: $border
      padding: size(16) 0

// Set hero background image
.ado-hero
  +set-bkg-img('hero.png')

  > .ada-container
    +flex(row, flex-end, center)

    height: 100%

// Target heading, paragraph, and button inside hero

.hero-content
  +flex(column, center, space-between)
  +size(65%)

.hero-content-main,
.hero-content-footer
  color: $white
  text-align: center

.hero-content-main
  +flex(column, center, center)

  color: $white
  text-align: center

  > .smooth-scroll-btn
    +set-bkg-color-and-hover($accent-med)

    color: $white
    border-radius: size(40)
    padding: size(18) size(44)
    margin-top: size(16)

.hero-content-footer,
.footer-links
  font-size: size(15)
  font-weight: 300

  > .ada-link
    margin: 0 size(4)

.hero-content-footer
  margin-bottom: size(60)

  > .ada-link
    color: $light

.ado-footer
  background-color: $light

  > .ada-container
    border-top: $border

.footer-links
  color: $light-gray

  > .ada-link
    +event
      color: $accent-med


    color: $dark
    text-align: right

    &:last-of-type
      margin-right: 0
