// ----------------------------------------------------------------------------
// Hero specific styles, variables, placeholders, mixins and functions
// @see components/organisms/Hero.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Variables
$hero-height: 100vh
$hero-width: 100vw
$widescreen-hero-height: size(900)

// Styles

// Set background image
// Set width and height
// Adjust height on larger screens
.ado-hero
  +set-bkg-img('hero.png')
  +size($hero-width, $hero-height)
  +respond-to($breakpoint-xxlarge, min)
    height: $widescreen-hero-height
