/// ----------------------------------------------------------------------------
/// Timeline specific styles, variables, placeholders, mixins and functions
/// @see components/organisms/Timeline.jsx
/// @author Lexus Drumgold
/// ----------------------------------------------------------------------------

// Style

.ado-timeline
  +size(100vw, max-content)

  background-color: $light

  > .ada-container
    +flex(row, center, center)
    +relative

    height: 100%

#timeline0
  > .ada-container
    justify-content: flex-start

.timeline-col
  +flex(column, center, space-between)

  &.ui-left
    > .adt-event
      +flex(row, center, center)

  &.ui-right
    > .adt-event
      +flex(row-reverse, center, center)

.timeline-divider
  +absolute(0, null, null, 50%)
  +constrain(0.125%)

  background-color: $light-gray
  z-index: 7
